<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
  @await Html.PartialAsync("Header/_LoginHeaderPartial")

  @RenderBody()
  @RenderSection("Scripts", required: false)
</body>
</html>
