@model AP_Project.Models.Users.Admin
@{
  ViewData["Title"] = "داشبورد ادمین";
  Layout = "_LayoutAdmin";
  ViewData["ActiveTab"] = "Class";
}

<main class="dashboard-main admin">
  <h2 class="page-title">مدیریت کلاس‌ها</h2>
  <!-- محتوای مدیریت کلاس‌ها -->
</main>