@model AP_Project.Models.Users.Admin
@{
  ViewData["Title"] = "داشبورد ادمین";
  Layout = "_LayoutAdmin";
  ViewData["ActiveTab"] = "Course";
}

<main class="dashboard-main admin">
  <h2 class="page-title">مدیریت دروس</h2>
  <!-- محتوای مدیریت دروس -->
</main>