@model AP_Project.Models.Users.Admin
@{
    ViewData["Title"] = "داشبورد ادمین";
    Layout = "_LayoutAdmin";
    ViewData["ActiveTab"] = null;
}

<main class="admin-main">
        <!-- محتوای پیش‌فرض -->
</main>

<footer class="admin-footer">
    <p>لطفا یکی از سربرگ‌ها را انتخاب کنید</p>
</footer>
