@model AP_Project.Models.Users.Admin
@{
    ViewData["Title"] = "داشبورد ادمین";
    Layout = "_LayoutAdmin";
    ViewData["ActiveTab"] = "Student";
}

<main class="admin-main">
    <h2 class="page-title">مدیریت دانشجویان</h2>
    <!-- محتوای مدیریت دانشجویان -->
</main>