@model AP_Project.Models.Users.Instructor
@{
  var currentHash = ViewContext.HttpContext.Request.Query["h"].ToString();
  if (string.IsNullOrEmpty(currentHash)) // در ریترن ویو گت کوئری منتقل میشه ولی در ریترن ویو پست کوئری پاک میشه و هش رو دستی با ویو دیتا فرستادیم
  {
    currentHash = ViewData["Hash"]?.ToString() ?? "";
  }
  var activeTab = ViewData["ActiveTab"]?.ToString();
}

<header class="dashboard-header instructor">
  <div class="header-title">
    <h1>داشبورد استاد</h1>
  </div>
  <div class="header-actions">
    @if (Model != null)
    {
      <span class="user-name instructor">@Model.FirstName @Model.LastName</span>
      <div class="nav-links">
        <a asp-controller="InstructorClassManagement" asp-action="Index" asp-route-h="@currentHash" class="@(activeTab =="Class"?"active":"")">مدیریت کلاس‌ها</a>
        <a asp-controller="Login" asp-action="Logout">خروج</a>
      </div>
    }
    else
    {
      <span class="user-name instructor">استاد نامشخص</span>
      <div class="nav-links">
        <a asp-controller="Login" asp-action="Logout">خروج</a>
      </div>
    }
  </div>
</header>
