/* ============================
   FONT
   ============================ */
table, button, td, th {
  font-family: 'Vazirmatn', sans-serif !important;
}

/* ============================
   ADD BUTTON
   ============================ */
.toolbar {
  position: sticky;
  margin: 0;
  padding: 15px 0;
  top: 100px;
  background: white;
  z-index: 3;
}


.btn-add-course {
  background-color: #84e291;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none !important;
  box-shadow: none !important;
  position: relative;
  transition: transform 0.25s, color 0.25s;
}

.btn-manage-course-codes {
  background-color: #ffb169;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-right: 10px; /* فاصله از دکمه بغلی */
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none !important;
  box-shadow: none !important;
  position: relative;
  transition: transform 0.25s, color 0.25s;
}

.btn-add-course .icon {
  color: #22a74a;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none !important;
  border-bottom: none !important;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: 8px;
  display: inline-block;
  transform: rotate(270deg);
}

.btn-manage-course-codes .icon {
  color: #b86b2c;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none !important;
  border-bottom: none !important;
  margin-top: -10px;
  margin-bottom: -8.5px;
  margin-left: 8px;
  display: inline-block;
  transform: rotate(180deg);
}

.btn-add-course .text {
  color: #265C26;
  font-size: 18px;
  font-weight: 700;
}

.btn-manage-course-codes .text {
  color: #85512e;
  font-size: 18px;
  font-weight: 700;
}

.btn-add-course .icon,
.btn-add-course .text,
.btn-manage-course-codes .icon,
.btn-manage-course-codes .text {
  transition: transform 0.25s, color 0.25s;
}

.btn-add-course:hover .icon,
.btn-add-course:focus .icon,
.btn-add-course:hover .text,
.btn-add-course:focus .text,
.btn-manage-course-codes:hover .icon,
.btn-manage-course-codes:focus .icon,
.btn-manage-course-codes:hover .text,
.btn-manage-course-codes:focus .text
 {
  color: #ffffff;
}

.btn-add-course:hover,
.btn-add-course:focus,
.btn-manage-course-codes:hover,
.btn-manage-course-codes:focus{
  opacity: 0.9;
  transform: scale(1.05);
}

.btn-add-course:hover .icon,
.btn-add-course:focus .icon,
.btn-manage-course-codes:hover .icon,
.btn-manage-course-codes:focus .icon{
  transform: rotate(540deg);
}

/* ============================
   TABLE STYLES
   ============================ */
.course-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ccdfef;
  font-size: 15px;
}

.course-table thead tr {
  font-size: 17px;
}

.course-table tbody tr {
  background-color: #ccdfef;
  color: #000000;
}

.course-table th,
.course-table td {
  border: 1px solid white;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.course-table th:last-child,
.course-table td:last-child {
  border-right: none;
}

.course-table thead th {
  color: white;
  background-color: #00b0f0;
  font-weight: 600;
  position: sticky;
  top: 181px; /* ارتفاع تول بار */
  border-top: 5px solid white;
  background-clip: padding-box;
  border-top: none;
  z-index: 2;
}

/* ============================
   COLUMN WIDTHS
   ============================ */
.col-index { width: 30px; }
.col-code { width: 6%; }
.col-units { width: 6%; }
.col-prereq { width: 6%; }
.col-semester { width: 6%; }

.col-title,
.col-instructor,
.col-description {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.col-schedule { width: 9%; }
.col-examdate { width: 7%; }
.col-description { width: 12%; word-wrap: break-word; }
.col-courseid { width: 5%; }
.col-actions { width: 6%; }

/* ============================
   NO CONTENT STYLE
   ============================ */

.no-content {
  color: #e21212;
  background-color: #f48181b7;
  font-weight: 600;
}

/* ============================
   TEXT LINK
   ============================ */
.text-link {
  background: none;
  border: none;
  color: #0645AD;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  position: relative;
  transition: color 0.25s ease;
}

.text-link:hover {
  color: #ce0e84;
}

/* ============================
   COPY ID BUTTON
   ============================ */
.copy-id-button {
  font-size: 12pt;
  font-weight: 450;
}

/* ============================
   ACTION COLUMN
   ============================ */
.actions-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto 5px;
  margin-bottom: -5px;
  gap: 1vw;
}

.btn-action {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 19px;
  padding: 0px;
}

.btn-edit i {
  color: rgb(255, 166, 0); /* نارنجی */
  transition: transform 0.1s, color 0.25s;
}

.btn-delete i {
  color: #eb1c31; /* قرمز */
  transition: transform 0.1s, color 0.25s;
}

/* افکت هاور */
.btn-action:hover i {
  transform: scale(1.2);
}