/* ============================
   ACTION TITLE TAB MANAGE
   ============================ */

.action-title-tab.manage {
  background-color: #ffb169;
  color: #85512e;
}

/* ============================
   FORM CONTAINER
   ============================ */

.separator {
    height: 1px;
    background: #e0e0e0;
    margin: 15px 20px 30px;
}


/* ============================
   COURSE CODE FORM ROW
   ============================ */

.course-code-form .form-row {
  display: flex;
  align-items: center;  /* این باعث میشه فرزندها (مثل .button-group) در وسط عمودی قرار بگیرند */
  justify-content: flex-start; /* ردیف های نا کامل راست چین شوند */
}

.course-code-form .form-group {
    flex: 1;
    min-width: 200px;
}

/* ============================
   Edit CUORSE CODE LIST
   ============================ */
.form-group.Edit {
  flex: 0 0 65%;
}

/* ============================
   BUTTONS
   ============================ */

.button-group {
  flex: 0 0 auto;          /* اندازه ثابت، اندازه محتوا */
  height: 100%;            /* کل ارتفاع والد (مثلاً فرم ردیف) */
  display: flex;           /* فعال کردن فلکس برای مرکز کردن */
  justify-content: center; /* وسط افقی */
  align-items: center;     /* وسط عمودی */
}

/* استایل دکمه‌ها */
.btn-submit {
    margin: 30px 0 0 auto;     /* به اندازه لیبل ها از بالای فرم گروپ فاصله بگیرد */
}

.btn-submit.add {
    background-color: #84e291;
    color: #265C26;
    margin: 0 !important;
}

.btn-submit.edit {
    background-color: #f5dc71;
    color: #725810;
    margin: 0 !important;
}

.btn-submit.delete {
    background-color: #ff8a80;
    color: #851b1b;
    margin: 0 !important;
}

.btn-submit.add:hover,
.btn-submit.add:hover,
.btn-submit.edit:hover,
.btn-submit.edit:hover,
.btn-submit:hover,
.btn-submit:focus {
  color: #ffffff;
}