@{
  ViewData["Title"] = "صفحه ورود";
  Layout = "_LayoutLogin";
}

<!-- مجموعه فونت آوسوم -->
<link rel="stylesheet" href="~/lib/fontawesome/6.7.2/css/all.min.css" asp-append-version="true" />
<!-- استایل اختصاصی -->
<link rel="stylesheet" href="~/css/Login/login.css" asp-append-version="true" />

<div class="login-container">
  <h2>صفحه ورود</h2>
  <form asp-controller="Login" asp-action="Index" method="post" id="login-form">
    <div class="form-group">
      <label>نام کاربری</label>
      <div>
        <input class="form-control valid-username" id="Username" name="Username" data-maxlength="32" />
      </div>
      <span class="error-message">@Html.ValidationMessage("Username")</span>
    </div>
    <div class="form-group">
      <label>رمز عبور</label>
      <div class="password-wrapper">
        <input type="password" class="form-control valid-password" id="Password" name="Password" data-maxlength="32" />
        <button type="button" class="toggle-password">
          <i class="fa fa-eye"></i>
        </button>
      </div>
      <span class="error-message">@Html.ValidationMessage("Password")</span>
    </div>

    <button type="submit" title="برای ورود، نام کاربری و رمز عبور خود را وارد کرده و کلیک کنید.">
      ورود
    </button>
  </form>

  <footer>
    <p>پروژه AP | کوشا مجلسی | امیر محمد داودی</p>
    <p><a href="https://github.com/duvoodi/AP_Project/" target="_blank">لینک ریپازیتوری گیت هاب پروژه</a></p>
  </footer>
</div>

<partial name="_ValidationScriptsPartial" />
@section Scripts {
  <!-- اسکریپت های کمکی مورد نیاز این فرم -->
  <script src="~/js/FormUtils/Shared/form-error-utils.js"></script>
  <script src="~/js/FormUtils/Shared/max-length-handler.js"></script>
  <script src="~/js/FormUtils/Shared/valid-username-inputs.js"></script>
  <script src="~/js/FormUtils/Shared/valid-password-inputs.js"></script>
  <!-- تابع ولیدیت فیلد اختصاصی فیلد های این صفحه -->
  <!-- آخر همه اضافه شده چون از توابع اسکریپت های بالا استفاده میکند -->
  <script src="~/js/FormUtils/LoginForm/validateField.js"></script>
  <script>
    // ولیدیت فیلد ها هنگام خروج از فیلد با نمایش ارور ترو
    // فیلد های ما حتما آی دی دارند آی دی نداشت نباید سلکت شود
    document.querySelectorAll('input[id], textarea[id], select[id]').forEach(input => {
      input.addEventListener('blur', function () {
        validateField(this.id, true) // نتیجه تابع رو در دکمه سابمیت بررسی میکنیم اینجا تابع صرفا برای نمایش ارور فراخوانی میشود
      });
    });

    // چک ها بعد زدن کلید تایید
    document.getElementById('login-form').addEventListener('submit', function (e) {
      e.preventDefault(); // جلوی ارسال فرم را بگیر تا زمانی که اعتبارسنجی کامل شود

      let hasError = false;

      // 1. پاک کردن خطاهای قبلی
      this.querySelectorAll('.error-message').forEach(span => span.textContent = '');

      // 2. ولیدیت تمام فیلدهای فرم با نمایش ارور ترو
      // فیلد های ما حتما آی دی دارند آی دی نداشت نباید سلکت شود
      this.querySelectorAll('input[id], textarea[id], select[id]').forEach(input => {
        if (!validateField(input.id, true)) {
          hasError = true;
        }
      });

      // 3. اگر خطایی نبود فرم ارسال شود
      if (!hasError) {
        this.submit();
      }
    });
  </script>
}