@{
  ViewData["Title"] = "...درحال انتقال";
  Layout = "_LayoutLogin";
}

<!-- استایل اختصاصی -->
<link rel="stylesheet" href="~/css/Login/redirect.css" asp-append-version="true" />

<div class="login-container">
  <h2>درحال انتقال...</h2>
</div>

<script>
  fetch('/Login/CheckSession?hashed=true')
    .then(res => res.json())
    .then(data => {
      if (data.role === 'none') {
        window.location.href = `/Login/Index`;
      } else if (data.role === 'admin') {
        window.location.href = `/AdminDashboard/Index?h=${data.id}`;
      } else if (data.role === 'instructor') {
        window.location.href = `/InstructorDashboard/Index?h=${data.id}`;
      } else if (data.role === 'student') {
        window.location.href = `/StudentDashboard/Index?h=${data.id}`;
      }
    });
  // با اجرا بی درنگ این اسکریپت سعی میشوداز برگشت به صفحه لاگین و داشبورد ها قبلی که کش شدند با دکمه بک جلوگیری می‌شود
  // اگر هم تونست برگرده به صفحات قبل، روی همه صفحات داشبورد اسکریپت چک سشن به صورت متوالی هست، صفحه لاگین اینو ندارد و صفحه خنثی هست
  // صفحه لاگین خنثی هست اگر با بک باز شد با رفرش کنترلر صفحه لاگین اوش سشن را چک میکند میبرد به صفحه ریدایرکت اگر هم لاگین کند سشن قبلی قبل ایجاد جدید پاک میشود
  // در صفحات داشبورد ها هم هرگونه در خواست گت یا پست اولش چک سشن انجام میشود معتبر نبود میفرستد لاگین تا ریدایرکت کند به سشن صحیح یا سشنی نیست در همان لاگین بماند
</script>
