@model AP_Project.Models.Users.Student
@{
  ViewData["Title"] = "داشبورد دانشجو";
  Layout = "_LayoutStudent";
  ViewData["ActiveTab"] = "FullInformation";
}

<main class="dashboard-main student">
  <h2 class="page-title">اطلاعات جامع</h2>
  <!-- محتوای اطلاعات جامع -->
</main>