@model AP_Project.Models.Users.Student
@{
  ViewData["Title"] = "داشبورد دانشجو";
  Layout = "_LayoutStudent";
  var hasFooter = true;
}

<main class="dashboard-main student @(hasFooter ? "has-footer" : "has-not-footer")">
    <!-- محتوای پیش‌فرض -->
</main>

@if (hasFooter)
{
  <footer class="dashboard-footer student">
    <p>لطفا یکی از سربرگ‌ها را انتخاب کنید</p>
  </footer>
}