@model AP_Project.Models.Users.Student
@{
  ViewData["Title"] = "داشبورد دانشجو";
  Layout = "_LayoutStudent";
  ViewData["ActiveTab"] = "Transcripts";
}

<main class="dashboard-main student">
  <h2 class="page-title">ریز نمرات</h2>
  <!-- محتوای ریز نمرات -->
</main>