@model AP_Project.Models.Users.Instructor
@{
  ViewData["Title"] = "داشبورد استاد";
  Layout = "_LayoutInstructor";
  ViewData["ActiveTab"] = "Class";
}

<main class="dashboard-main instructor">
  <h2 class="page-title">مدیریت کلاس‌ها</h2>
  <!-- محتوای مدیریت کلاس‌ها -->
</main>
