@model AP_Project.Models.Users.Instructor
@{
  ViewData["Title"] = "داشبورد استاد";
  Layout = "_LayoutInstructor";
}

<main class="dashboard-main instructor">
    <!-- محتوای پیش‌فرض -->
</main>

@section FooterPopup { <!-- برای بردن پاپ آپ به خارج مین لی اوت داشبورد -->
  <div class="footer-popup empty will-show">
    <p><i class="fa-solid fa-info-circle" style="margin-left: 8px;"></i>لطفا یکی از سربرگ‌ها را انتخاب کنید</p>
  </div>
}